<div class="margenL margenR" >
<div class="row" style="margin-top:20px; background-color: #ffffff; border:0px  dashed  rgba(131, 131, 131, 0.212)">
  <!-- background-image: url('../../../assets/Suscripcion.jpg'); -->
    <div class="col-6">
<br>
    <br>
    <h1 class="font">Únete a la comunidad
    </h1>
    <h1 class="font"style="margin-top:-15px; font-size: 40px; color:rgba(83, 83, 83, 0.63)">más grande de publicaciones</h1>
    <h1 class="font" style="font-size:35px; color: rgba(83, 83, 83, 0.616); margin-top: -19px;">digitales de Montaña</h1>
    <h3 class="font2">Suscríbase a nuestro boletin infomativo mensual para estar completamente informado sobre la actualidad del montañismo en nuestro pais.  </h3>

 <hr>

<form >
  <div class="form-row" style="margin-left:20px; margin-right: 20px;" >
    
        <label for="validationServerUsername" class="item">E-mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input type="text" class="form-control " id="validationServerUsername" placeholder="E-mail" aria-describedby="inputGroupPrepend3" required>
          <div *ngIf="false" >
            <!-- class="invalid-feedback" "is-invalid" is-valid -->
            Please choose a username.
          </div>
        </div>
      

    <div class="col-md-6  mb-3" style="margin:0px; padding:0px; padding-right:10px">
      <label for="validationServer01" style="margin-top: 20px;"class="item">Nombres</label>
      <input type="text" class="form-control " id="validationServer01" placeholder="Nombres"  >
      <div *ngIf="false">
        <!-- valid-feedback -->
        Looks good!
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02" style="margin-top: 20px;"class="item">Apellidos</label>
      <input type="text" class="form-control  " id="validationServer02" placeholder="Apellidos"  required>
      <div *ngIf="false"  >
        Looks good!
      </div>
    </div>
 
  
    
      <label class="item" for="validationServer03">Pais</label>
      <input type="text" class="form-control" id="validationServer03" placeholder="Pais" required>
      <div *ngIf="false" >
        Please provide a valid city.
      </div>


      <label class="item" for="validationServer04" style="margin-top:20px">Ocupación</label>
      <input type="text" class="form-control" id="validationServer04" placeholder="Ocupación" required>
      <div *ngIf="false" >
        <!-- class="invalid-feedback" -->
        Please provide a valid state.
      </div>
    
    
      <label class="item" for="validationServer05" style="margin-top:20px">Intereses</label>
      <input type="text" class="form-control" id="validationServer05" placeholder="Intereses" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
    
  </div>
  <br>
  <br>
  <br>
    
  <div class="form-group" style="margin-top: 30px;">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
</div>
<hr>
  <button  class="btn btn-dark" type="submit" style="margin-left:20px;">Enviar</button>
  <br>
  <br>
  <br>
</form>
    </div>
    <div class="col-6">
        <img src="../../../assets/sdsdsdsd.PNG" alt=""  style="opacity:0.4;width: 104%; margin-left: -20px;" height="762px">
  
    </div>



</div>
<br><br><br><br><br>
</div>