<div class="margenL margenR" >
<div class="row" style="margin-top:20px; background-color: #ebebeb;">
    <div class="col-6">

    <br>
    <h1>Unete a la comunidad mas grande de uscripcion a la publicaciones Digitales de Montaña

    </h1>
    <h3>Unete a la comunidad mas grande Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nostrum eos, voluptatum ratione sapiente animi aspernatur, repellat magnam voluptate doloremque odio nemo maiores incidunt eaque doloribus ad rem in. Consectetur.</h3>




<form >
  <div class="form-row" style="margin-left:20px; margin-right: 20px;" >
    
        <label for="validationServerUsername">EMAIL</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend3">@</span>
          </div>
          <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3" required>
          <div *ngIf="false" class="invalid-feedback">
            Please choose a username.
          </div>
        </div>
      

    <div class="col-md-6  mb-3">
      <label for="validationServer01" style="margin-top: 20px;">Nombres</label>
      <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" >
      <div *ngIf="false" class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02" style="margin-top: 20px;">Apellido</label>
      <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
      <div *ngIf="false" class="valid-feedback">
        Looks good!
      </div>
    </div>
 
  
    
      <label for="validationServer03">Pais</label>
      <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
      <div *ngIf="false" class="invalid-feedback">
        Please provide a valid city.
      </div>


      <label for="validationServer04" style="margin-top:20px">Ocupación</label>
      <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
      <div *ngIf="false" class="invalid-feedback">
        Please provide a valid state.
      </div>
    
    
      <label for="validationServer05" style="margin-top:20px">Intereses</label>
      <input type="text" class="form-control is-invalid" id="validationServer05" placeholder="Zip" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
    
  </div>
  <br>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
</div>
  <button  class="btn btn-dark" type="submit" style="margin-left:20px;">Enviar</button>
</form>
    </div>
    <div class="col-6">
        
    

    </div>



</div>
</div>