


<input type="text" [(ngModel)]="this.crudService.unPublicidad.imagen1" >
<br>
<!-- <input type="text" [(ngModel)]="this.formulario.imagen2" name="imagen2"><br>
<input type="text" [(ngModel)]="this.formulario.imagen3" name="imagen3"><br>
<input type="text" [(ngModel)]="this.formulario.imagen4" name="imagen4"><br>
<input type="text" [(ngModel)]="this.formulario.imagen5" name="imagen5"><br>
<input type="text" [(ngModel)]="this.formulario.imagen6" name="imagen6"><br>
<input type="text" [(ngModel)]="this.formulario.imagen7" name="imagen7"><br>
<input type="text" [(ngModel)]="this.formulario.imagen8" name="imagen8"><br>
<input type="text" [(ngModel)]="this.formulario.imagen9" name="imagen9"><br>
<input type="text" [(ngModel)]="this.formulario.imagen10" name="imagen10"><br>
<input type="text" [(ngModel)]="this.formulario.fecha" name="fecha"><br>
<input type="text" [(ngModel)]="this.formulario.fechaMod" name="fechaMod"><br> -->

<button (click)="guardarCambios()">guarda</button>
