<div class="card" >
    <img class="card-img-top" src="../../../assets/momia.jpg" alt="Card image cap">
    <div class="card-body">
        <div>
            <h5 class="categoria ">HISTORIA</h5>
        </div>
        <h1 class="robotoBlack">{{data?.titulo}}</h1>
        <p class="card-text parrafo">Tanto las concubinas como los sirvientes mantenian la ficcion de <b>atender a la
                momia del difunto Inka como si estuviese vivo</b>, encargandose de atenderlo y cuidarlo, hay que
            destacar que la concepcion de la vida y la muerte era para la cultura andina muy diferente a la nuestra
        </p>

    </div>
</div>