.card{width: 100%;background-color: rgb(54, 54, 54); border-radius: 2px; -webkit-box-shadow: 3px 3px 9px 1px rgba(0,0,0,0.71); 
    box-shadow: 3px 3px 9px 1px rgba(0,0,0,0.71); margin:0px!important; min-height: 470px; }



.parrafo{font-family:Georgia, 'Times New Roman', Times, serif;
      color:rgb(219, 219, 219);
  font-size: 15px;
  font-style: normal;
  font-weight:200;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top:-10px
}

img{filter: sepia(70%); border-radius: 2px;height: 250px; object-fit: cover;}


.robotoBlack{font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);
    margin-top:15px;  
    text-shadow: 2px 2px 2px  rgb(58, 58, 58);
    }

    .categoria{margin-top:-10px; 
      position: absolute; 
      border-radius: 3px;
      color:orange;
      font-weight: 600;
      font-size: 14px;
    
    }