<div class="barra barraTexto quitar800" >
       <div class="flex-container">
       <h4 class="roboto suscribirse margenL " style="margin-top:7px" ><a routerLink="suscripcion"  >
       <b class="anima2" > SUSCRIBIRSE</b></a> | <a href=""> <b class="anima2">CONTACTAR</b></a></h4>
       <h4 class="textBarraNegra  margenL quitar800" style="left:220px; color:rgb(255, 255, 255); position: absolute;" routerLink="quienesSomos" >✉ ¿QUIÉNES SOMOS?</h4>
       <h4 class="textBarraNegra  margenL quitar800" style="left:380px; color:rgb(255, 255, 255); position: absolute;"routerLink="formaParte" >✉ ¿CÓMO FORMAR PARTE DEL CCAM?</h4>
      
      <div class="quitar800 margenR" style="margin-top:4px ; ">
      <mat-icon aria-hidden="false" class="margenR"aria-label="Example home icon" style="margin-right: 168px; margin-top:1px" routerLink="buscador">search</mat-icon>
      <input [(ngModel)]="this.buscar" (click)=loading() routerLink="buscador" class="margenR"  placeholder="Buscar" (keyup)="pasar($event)" type="text" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border-radius: 3px;">         
      <a href="https://www.youtube.com/c/CentroCulturalArgentinodeMonta%C3%B1a" target="_blank"> <img src="../../../assets/fa_youtube.png" alt="" style="margin-top:-19px; margin-right: 4px;" width="20px"></a>
      <a href="https://www.instagram.com/ccam_arg/?hl=es-la" target="_blank"> <img src="../../../assets/icoInsta.png" alt="" style="margin-top:-17px; margin-right: 2px;" width="29px"></a> 
      <a href="https://web.facebook.com/ccamontania" target="_blank"> <mat-icon style="color:white; font-size: 26px;">facebook</mat-icon></a>
       <!-- <mat-icon style="margin-left:5px; color:orange">markunread</mat-icon>  -->
       
      
    
    </div>
      </div>

</div>

<div class="fondo">
 <div class="logo margenL achicar">
 <img  class="logo" src="../../../assets/logo.png" >  
</div>
   <h1 class="quitarTextoLogo textLogo textlogoCentro margenL textUp " >CENTRO CULTURAL</h1>
   <h1 class="quitarTextoLogo textLogo textlogoAbajo margenL  textDown ">ARGENTINO DE MONTAÑA</h1>
 


<div style="float:right">
    
 <!-- <img src="../../../assets/logo sponsors2.jpg" width="33%" alt="" >  -->

</div>
</div>

<div style="border-top:2px solid rgb(179, 179, 179);margin-top:-20px">
    <!-- <div style="background-color: #dfdfdf;"> -->
       <div class="colorBarraMenu"> 
        <ul >
          <li >
            <div class="flex-container1 margenL">
                   <a>
                       <!-- <mat-icon style="float:left; margin-top:4px; margin-right: 0px" >stars</mat-icon>  -->

                       <span [routerLinkActive]="'activo'"  
                       [routerLinkActiveOptions]="{exact:  true}" routerLink='/' class="texto quitar800" style="margin-left:-20px" >┋ HOME</span>
                       <span class="texto anima quitar800 " (click)="claseAnima=!claseAnima" [matMenuTriggerFor]="settingsMenu1" >MONTAÑISMO▼</span>    
                       <!-- [ngClass]="{'animaNav':  claseAnima }" -->
                      <span>
                       <div class="mobile" >
                       <mat-icon class="anima" style="margin-top:5px; margin-left:-10px" [matMenuTriggerFor]="settingsMenu2">menu</mat-icon>
                      </div></span>
                       <span class="texto anima quitar800" [matMenuTriggerFor]="settingsMenu" >HISTORIA▼</span>                   
                       <span class="texto anima quitar800 " [routerLinkActive]="'activo'"  routerLink="../categoria/ANTROPOLOGÍA" (click)="loading()">ANTROPOLOGÍA</span>
                       <span class="texto anima quitar800"  [routerLinkActive]="'activo'"  routerLink="../categoria/MEDIO AMBIENTE" (click)="loading()">MEDIO AMBIENTE </span>
                       <span class="texto anima quitar800"  [routerLinkActive]="'activo'"  routerLink="../categoria/EDUCACIÓN"(click)="loading()" >EDUCACIÓN</span>
                       <span class="texto anima quitar800"  [routerLinkActive]="'activo'"  routerLink="../categoria/ARTE"(click)="loading()">ARTE</span>
                       <span class="texto anima quitar800"  [routerLinkActive]="'activo'"  routerLink="../categoria/MUSEO"(click)="loading()">MUSEO</span>
                       <span class="texto anima quitar800 " [routerLinkActive]="'activo'"  routerLink="../categoria/INSTITUCIONES"(click)="loading()">INSTITUCIONES</span>
                       <span [routerLinkActive]="'activo'"  [routerLinkActive]="'activo'"   routerLink="login" class="texto quitar800"(click)="loading()">ADMIN</span>

                   </a>
           </div>
          </li>
        </ul>
      </div>


 </div>   


 <mat-menu #settingsMenu class="customize3">
  <menu mat-menu-item class="customize2 ">▪ EXPEDICIONES</menu>
  <menu mat-menu-item class="customize2 ">▪ BIOGRAFÏAS</menu>
  <menu mat-menu-item class="customize2 ">▪ HECHOS</menu>
</mat-menu>



<mat-menu #settingsMenu1 class="customize">
  <menu mat-menu-item class="customize2">▪ ESCALADA EN ROCA</menu>
  <menu mat-menu-item class="customize2">▪ ESCALADA EN HIELO</menu>
  <menu mat-menu-item class="customize2">▪ ASCENSOS</menu>
  <menu mat-menu-item class="customize2">▪ TREKKING</menu>
  <menu mat-menu-item class="customize2">▪ SENDERISMO</menu>
  <menu mat-menu-item class="customize2">▪ ESPELEOLOGIA</menu>
  <menu mat-menu-item class="customize2">▪ MOUNTAIN BIKE</menu>
</mat-menu>



<mat-menu #settingsMenu2 class="customize4">
  <menu mat-menu-item class="customize2">▪ ESCALADA EN ROCA1</menu>
  <menu mat-menu-item class="customize2">▪ ESCALADA EN HIELO</menu>
  <menu mat-menu-item class="customize2">▪ ASCENSOS</menu>
  <menu mat-menu-item class="customize2">▪ TREKKING</menu>
  <menu mat-menu-item class="customize2">▪ SENDERISMO</menu>
  <menu mat-menu-item class="customize2">▪ ESPELEOLOGIA</menu>
  <menu mat-menu-item class="customize2">▪ MOUNTAIN BIKE</menu>
</mat-menu>
