<div style="background-color:rgb(80, 80, 80); min-height: 150px;">
    <div class="row" style="margin:0px; padding:0px">
        <div class="col-4"style="margin:0px; padding:0px" >
            <img src="{{data.imagen1}}"alt="" width="100%">
        </div>
        <div class="col-8" >
            <div style="text-align:left">
                <br>
                <h6>HISTORIAS</h6>
                <h1 class="robotoBlack">{{data?.titulo}} </h1>
                <p class="truncar4">{{data?.subtitulo}}
            </div>
        </div>
       
    </div>
  
</div>  <br>
