<div class ="row margenL margenR" >
<div class="col-6" style="margin-left: -20px;">

  <br>
          <h1>CREAR |<span> CABECERA</span></h1>
          <hr>
    <div class="row">
        <div class="col-12">
            <h5 class="textoInput">Categoría</h5>
          
            <select  [(ngModel)]="this.categoria" class="form-control form-control-sm" style="width: 100%; height: 38px;">
              <option>· Montañismo · Escalada en Roca</option>
              <option>· Montañismo · Escalada en Hielo</option>
              <option>· Montañismo · Ascensión </option>
              <option>· Montañismo · Senderismo</option>
              <option>· Montañismo · Trekking</option>
              <option>· Montañismo · Espeleología</option>
              <option>· Historia · Expediciones</option>
              <option>· Historia · Biografías</option>
              <option>· Historia · Hechos</option>
    
              <option>· Antropología</option>
              <option>· Medio Ambiente</option>
              <option>· Medio Ambiente · Flora</option>
              <option>· Medio Ambiente · Fauna</option> 
              <option>· Medio Ambiente · Plantas Medicinales</option> 
              <option>· Medio Ambiente · Impacto Ambiental</option> 
    
              <option>· Educacion · Seguridad</option>
              <option>· Educacion · Entrenamiento</option>
              <option>· Educacion · Medicina Natural</option>
    
              <option>· Arte · Literatura</option>
              <option>· Arte · Fotografía</option>
              <option>· Arte · Cine</option>
              <option>· Arte · Música</option>
              <option>· Museo</option>
              <option>· Instituciones</option>
              
    
            </select>
        </div>
    
        <!-- <div class="col-6">
          <div class="form-group">
            <h5 class="textoInput">#Categoria / Subtitulo</h5>
            <input [(ngModel)]="this.hash" class="form-control" id="message-text" style="width:100%">
          </div>
        </div> -->
    <!-- 
        <div class="col-6">
          <div class="form-group">
            <h5 class="textoInput">Autor</h5>
            <input [(ngModel)]="this.autor" class="form-control" id="message-text" style="width:100%">
          </div>
        </div> -->
    
    </div>
                       
              <div class="form-group">
                <h5 class="textoInput" style="margin-top:15px">Título</h5>
                <input [(ngModel)]="this.titulo" class="form-control" id="titulo">
                     <!-- <div  class="textoInputBajo" >
                   {{this.titulo.length}} de 200 Máx.
                </div>  -->
              </div>
              <!-- <div class="form-group">
                <h5 class="textoInput">Título Alternativo / Noticias / Relacionados</h5>
                <input  [(ngModel)]="this.tituloAlt" class="form-control" id="tituloAlt">
                 
              </div> -->
              <div class="form-group">
                <h5 class="textoInput">Subtítulo</h5>
                <textarea [(ngModel)]="this.subtitulo" rows="2" class="form-control" id="message-text"></textarea>
                <!-- <div  class="textoInputBajo" >
                  {{this.subtitulo.length}} de 200 Máx.
                </div>  -->
              </div>
    
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <h5 class="textoInput">Autor</h5>
          <input [(ngModel)]="this.autor" class="form-control" id="message-text" >
        </div>
    </div>
    
       <div class="col-6">
              <div class="form-group">
                <h5 class="textoInput">Autor Fotografía</h5>
                <input [(ngModel)]="this.fotografia"class="form-control" id="message-text">
             </div>
      </div> 
      <div class="col-6">
              <div class="form-group">
                <h5 class="textoInput">Edición de fotografía</h5>
                <input [(ngModel)]="this.edicionFotografia" class="form-control" id="message-text" >
              </div>
      </div>
    
     
     
    
    <div class="col-6">
      <div class="form-group">
        <h5 class="textoInput">Posición Publicación</h5>
        <select  [(ngModel)]="this.posicion" class="form-control form-control-sm" style="width: 100%; height: 38px;">
          <option value="0">No</option>
          <option value="1">Portada</option>
          <option value="2">Vertical 1</option>
          <option value="2">Vertical 2</option>
          <option value="3">Horizontal 1</option>
          <option value="3">Horizontal 2</option>
          <option value="3">Horizontal 3</option>
          <option value="4">Vertical Largo 1</option>
          <option value="4">Vertical Largo 2</option>
          <option value="4">Vertical Largo 3</option>
          </select>
      
     </div>
</div>
<div class="col-12">  
   <div style="margin-top:10px">
    <div *ngIf="ocultar2">
      <h6 style ="margin-bottom:-2px">IMAGEN DE PORTADA  400x560</h6>
      <input type="file"  style="  overflow: none"  (change)="onFileChange($event); ">
      <button class="btn-sm btn btn-danger btn-upload ml-2" (click)="this.loading2=true" (click)="onUpload()">Subir</button>
      <div style="margin-top:10px">
        <a href="{{this.imagen1}}" target="_blank" rel="noopener noreferrer">
       <h5 *ngIf="this.imagen1">Imagen: {{this.imagen1}}</h5>
      </a>
       <h5 *ngIf="!this.imagen1">Sin imagen</h5>
      </div>
      <br><br><br>
    </div>
      <div *ngIf="this.loading2" > 
             <div> 
                <img src="../../../assets/loading4.gif"  width="50px" alt="" style="margin-top:-65px">
                
            </div>
         </div>
     
     <div *ngIf="this.loading3">
      <h6 style="color:green; font-size: 15px;">✓ Subida! <span style="font-size:14px; color:brown" (click)="fnOcultar()"> Deshacer</span></h6>
        </div>
   </div>





</div>     


            <h4></h4>
      <br><br><br><br><br>
        </div>
      
      
    
    
         
      <!-- Modal -->
    
          
        </div>

        <div class="col-6">
          <br>
          <h1><h1>ARTÍCULOS |<span> RELACIONADOS</span></h1></h1>
<hr>
<!-- <h5 class="textoInput" style="margin-left:25px" >Buscar</h5>
<div class="input-group" >
  <input  [(ngModel)]="this.busqueda" id="busqueda" style="margin-left:20px;" type="text" class="form-control" placeholder="Número de ID del articulo" aria-label="Recipient's username" aria-describedby="basic-addon2"   >
  <div class="input-group-append">
    <button class="btn btn-danger" type="button" (click)="pedirUnArticulo()">Buscar</button>
  </div>
</div> -->

<!-- comiexo1  -->
          <div  class="form-group" style="margin-top:35px" >            
            <div class="input-group"  >
            <input  [(ngModel)]="resultadoTitulo" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput}}" autocomplete="false">
            <div class="input-group-append">

             
              <button class="btn btn-dark" type="button" (click)="selection(1)"   (click)="openInput=false; openInputBuscar=false ">Editar</button>
              <button class="btn btn-dark ml-1" type="button"  (click)="openInput=true;openInputBuscar=true">Guardar</button>
              <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
                <button class="btn btn-dark ml-1" type="button"  (click)="openInput=true;openInputBuscar=true; this.aux = 1">
                  <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                               <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">              
                                   
                  Buscar</button>
              </a>
            </div>
          </div>
            <div style="float:left">
            <h1 style="color:brown;   margin-top:-40px">1</h1> 
          </div>
          </div>
<!-- comiexo1  -->
<!-- comiexo2  -->
<div  class="form-group" style="margin-top:35px" >            
  <div class="input-group"  >
  <input  [(ngModel)]="resultadoTitulo2" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput2}}" autocomplete="false">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button" (click)="selection(2)"   (click)="openInput2=false;">Editar</button>
    <button class="btn btn-dark ml-1" type="button"  (click)="openInput2=true; ">Guardar</button>
    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
      <button class="btn btn-dark ml-1" type="button"  (click)="openInput2=true;openInputBuscar=true; this.aux = 2">
        <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
                     <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">              
                         
        Buscar</button>
    </a>
    
  </div>
</div>
  <div style="float:left">
  <h1 style="color:brown;   margin-top:-40px">2</h1> 
</div>
</div>
<!-- comiexo2  -->
       
<!-- comiexo3  -->
<div  class="form-group" style="margin-top:35px" >            
  <div class="input-group"  >
  <input  [(ngModel)]="resultadoTitulo3" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput3}}" autocomplete="false">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button" (click)="selection(3)"   (click)="openInput3=false;">Editar</button>
    <button class="btn btn-dark ml-1" type="button"  (click)="openInput3=true; ">Guardar</button>
    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
      <button class="btn btn-dark ml-1" type="button"  (click)="openInput3=true;openInputBuscar=true; this.aux = 3">
        <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
                     <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">              
                         
        Buscar</button>
    </a>
  </div>
</div>
  <div style="float:left">
  <h1 style="color:brown;   margin-top:-40px">3</h1> 
</div>
</div>
<!-- comiexo3  -->
<!-- comiexo4  -->
<div  class="form-group" style="margin-top:35px" >            
  <div class="input-group"  >
  <input  [(ngModel)]="resultadoTitulo4" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput4}}" autocomplete="false">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button" (click)="selection(4)"   (click)="openInput4=false;">Editar</button>
    <button class="btn btn-dark ml-1" type="button"  (click)="openInput4=true; ">Guardar</button>
    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
      <button class="btn btn-dark ml-1" type="button"  (click)="openInput4=true;openInputBuscar=true; this.aux = 4">
        <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
                     <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">              
                         
        Buscar</button>
    </a>
  </div>
</div>
  <div style="float:left">
  <h1 style="color:brown;   margin-top:-40px">4</h1> 
</div>
</div>
<!-- comiexo4  -->

<!-- comiexo5  -->
<div  class="form-group" style="margin-top:35px" >            
  <div class="input-group"  >
  <input  [(ngModel)]="resultadoTitulo5" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput5}}" autocomplete="false">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button" (click)="selection(5)"   (click)="openInput5=false;">Editar</button>
    <button class="btn btn-dark ml-1" type="button"  (click)="openInput5=true; ">Guardar</button>
    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
      <button class="btn btn-dark ml-1" type="button"  (click)="openInput5=true;openInputBuscar=true; this.aux = 5">
        <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
                     <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">              
                         
        Buscar</button>
    </a>
  </div>
</div>
  <div style="float:left">
  <h1 style="color:brown;   margin-top:-40px">5</h1> 
</div>
</div>
<!-- comiexo5  -->

<!-- comiexo6  -->
<div  class="form-group" style="margin-top:35px" >            
  <div class="input-group"  >
  <input  [(ngModel)]="resultadoTitulo6" class="form-control" id="titulo" style="margin-left:20px" disabled="{{openInput6}}" autocomplete="false">
  <div class="input-group-append">
    <button class="btn btn-dark" type="button" (click)="selection(6)"   (click)="openInput6=false;">Editar</button>
    <button class="btn btn-dark ml-1" type="button"  (click)="openInput6=true;">Guardar</button>
    <a data-bs-toggle="modal" data-bs-target="#staticBackdrop"> 
      <button class="btn btn-dark ml-1" type="button"  (click)="openInput6=true;openInputBuscar=true; this.aux = 6">
        <svg *ngIf="!loaderModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
                     <img *ngIf="loaderModal" src="../../../assets/loader.gif" width="30px" alt="">              
                         
        Buscar</button>
    </a>
  </div>
</div>
  <div style="float:left">
  <h1 style="color:brown;   margin-top:-40px">6</h1> 
</div>
</div>
<!-- comiexo3  -->
        </div>
        <!-- <div style="margin-top: -160px;margin-left: -20px;">
        <h1><h1>COMENTARIOS |<span> </span></h1></h1>
        <textarea [(ngModel)]="this.crudService.unArticulo.comentarios" name="" id="" cols="30" style="width: 100%;"></textarea> 
      </div>  -->
      </div>

      

      <div class="modal-footer" style="z-index: 1000;background-color: rgb(204, 204, 204);width: 100%; position: fixed; bottom:0px">
      
        <button type="button" s class="btn btn-secondary" data-dismiss="modal" routerLink="../../gestor">Cerrar</button>
        <button type="button" class="btn btn-danger"  
        (click)="agregarPublicacion()"  
        style="margin-right:300px"
        >Guardar</button>
      

      </div>
 <br><br><br>
 <br><br><br>
 
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="staticBackdropLabel" style="margin-top:5px">Ingrese nro. de ID</h3>
        <a  data-bs-dismiss="modal" aria-label="Close" style="margin-top:-20px; cursor:pointer">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </a>                
      </div>
      <div class="modal-body">
       
 <div class="input-group" style="margin-left: -15px" >
   <input  [(ngModel)]="this.busqueda" id="busqueda" style="margin-left:20px;" type="text" class="form-control" placeholder="Número de ID del articulo" aria-label="Recipient's username" aria-describedby="basic-addon2">
   <div class="input-group-append">
    
     <button class="btn btn-dark" type="button" (click)="pedirUnArticulo() "  data-bs-dismiss="modal" aria-label="Close" >
       
    Buscar</button>
    


   </div>
 </div> 
      </div>
      <div class="modal-footer">
        
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
      </div>
    </div>
  </div>
</div>


