.textoInput{margin-bottom:-0px}

.margenes{margin-left:220px;margin-right:220px;}
h1{font-size:25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    line-height: 42px; 
    letter-spacing: -1px;
    margin-top:0px;
    color:rgb(44, 44, 44)}

    hr {margin-top:-10px}
   button{z-index: -10000;} 
.InputSelection{
    border:2px solid rgba(0, 0, 0, 0.346);
    border-radius: 5px;
    box-shadow: 1px 1px 1px orange;

}
    
span {font-size:25px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    line-height: 42px; 
    letter-spacing: -1px;
    margin-top:0px;
    color:brown
    }
    