<div class="fondo margenL margenR" style="text-align: center;">
  <div *ngIf="aux" style="display:block; margin:auto; margin-top:100px; ">

    <div class="loadingio-spinner-dual-ring-jqg38uhhax"><div class="ldio-n970spnnnqh">
      <div></div><div><div></div></div>
      </div></div>
   
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    
  </div> 
  <br>
  <div class="row fondoRow" >

  
    <div *ngIf="!aux"  class="col-12	col-sm-12	col-md-9 col-lg-9	col-xl-9 fondoCol ">

      <!-- CARROUSLE -->
      <div class="margenRCorreccion">
   <app-carousel [items]="articulos" [data]="articulos" [height]="200"></app-carousel> 
     <div *ngFor="let articulo of articulos" class="cardMobile" > 
   <app-card-mobile  [data]="articulo"></app-card-mobile> 
   <br>
   
  </div>
  <div class="onlyMobile" style="margin-top:-25px" >
    <img src="../../../assets/publiMobile.PNG" alt="" style="object-fit: cover; width: 100%;">
   </div>
 
    </div>
      <div class="row row2" style="margin-left: -20px;">


        <div *ngFor="let articulo of articulos|filtrox2" class="col-6 quitar600" style="padding-right: 0px; padding-left: 20px;">

          <app-card-bajo-portada [data]='articulo'></app-card-bajo-portada>

        </div>

      </div>


 

    </div>
   
   
    <div *ngIf="!aux" class="col-3 quitar810" style="margin-top: 0px;">

      <img src="../../../assets/publi2.PNG" width="100%" height="260px" alt="" style="margin-top:20px;
      object-fit: cover;
      ">
            <img src="../../../assets/image 26.png" width="100%"  alt=""
            style="margin-top:10px; object-fit: cover; height: 235px;
            ">
            <div style="margin-top:20px; text-align: left;">
          <!-- <h5 *ngIf="!loader"  style="font-size: 15px; color: whitesmoke;"><b>| ÚLTIMA EDICIÓN </b> </h5> -->
             <img src="../../../assets/revistamontaña.PNG" width="100%"  alt=""
             style="margin-top:0px; object-fit:cover; height: 450px; 
             ">
      </div>
<!--       
      <img src="../../../assets/image 26.png" width="100%" height="200px" alt=""
        style="margin-top:10px; object-fit: cover;"> -->



    </div>
    <img class="quitar600" *ngIf="!loader" src="../../../assets/image 12.png" alt="" style="height: 350px; margin-left:20px; margin-top:20px; width: 97%; ">

    <!-- INICIO "2DO BLOQUE" -->
    <div *ngIf="!aux" class="row quitar600">
      
      <div  class="col-9" style="margin-top: 20px; padding-right: 5px;"  >
        <app-card-bajopublix3 [data]="articulos"></app-card-bajopublix3>
      </div>
      
      <div class="col-3 quitar810" style="padding-right:30px;margin-top:20px">
        <img src="../../../assets/Captura1.PNG" width="100%" height="400px" alt="">
        <img src="../../../assets/publi.PNG" width="100%" height="330px" alt=""
          style="margin-top:10px; object-fit: cover;">
        <!-- <img src="../../../assets/image 26.png" width="100%" height="200px" alt=""
          style="margin-top:10px; object-fit: cover;"> -->
  
  
  
      </div>
      <br>
      <app-triple-card [data]="articulos" style="margin-top:20px"></app-triple-card>

<br><br><br>
    </div>
<!-- FIN "2DO BLOQUE" -->

<div *ngIf="!aux"  style=" background-color: rgb(32, 32, 32);width: 100%; text-align: left;" >
  
  
  <br><br><br><br>
  </div>


  </div>
 
</div> 
