<div class="base">

    <div class="row" style="margin:0px!important; ">
        <div class="col-6" style="padding:10px 10px 10px 10px">
            <div>
                <h5 style="margin-bottom: -0px; color:brown">Durante la aclimatacion </h5>
                <h1 class="texto" style="font-size: 20px;">François Cazzanelli, Emrik Favre y Leo Gheza 
                                   </h1>

                <img src="../../../assets/images.jpg" alt="" width="100%" style="border-radius: 5px;">
                <!-- <small>fotografia:CCAM</small> -->

            </div>
            
        </div>
          <div class="col-6" style="padding: 10px 10px 10px 10px">
            <div >
                <h5 style="margin-bottom: -0px; color:brown">Durante la aclimatacion </h5>
                <h1 class="texto" >François Cazzanelli, Emrik Favre y Leo Gheza </h1>

                <img src="../../../assets/html.jpg" alt="" width="100%" style="border-radius: 5px;">
                <!-- <small>fotografia:CCAM</small> -->
                <br>
                <br>

            </div>
        </div>

    </div>









</div>