  
<div class="clasePrincipal"  >
     <div>
        <div class="primerIcon" >
            <mat-icon class="mr-2 stilo ml-2 " style="color:rgba(34, 34, 34, 0.356)">account_circle</mat-icon>
            <div>
                    <h3  class="subtituloResposive2 vistas">Daniel Ojeda</h3>
            </div>
            
        </div>
    </div>
<!--   
  
   <div class="segundoIcon">
  
        <div  class="divSegundoIcon" >
            <mat-icon class="mr-2 stilo">visibility</mat-icon>
             <div>
                     <h3  class="subtituloResposive2 vistas">22</h3>
             </div>
        </div>
    </div>  -->
  
   <div style="margin-top:0px; ">
  
        <div  class="tercerIcon" >
            <mat-icon  class="mr-corre mr-2 ml-2  stilo" style="color:rgba(34, 34, 34, 0.356)">photo</mat-icon>
            <div>
            <h3 class="subtituloResposive2  fecha">CCAM</h3>
            </div>
        </div>
    </div>
  
    </div>
  