<div class="margenL margenR">
  <br>
    <div class="row colorFondo margenMobile" >
              <div class="col-12	col-sm-12	col-md-9 col-lg-9	col-xl-9" style="border-right: 20px solid rgb(199, 199, 199) ;" >
                    <div>
                        <h5 class="categoria" >{{cut(nota[0].categoria)}}</h5>
                        <h1 class="titulo" >{{nota[0].titulo}}</h1>
                        
                        <h2 class="subtitulo" 
                        style="font-family: Roboto, 'Helvetica Neue', sans-serif!important;                        
                        font-weight: 400!important;
                        margin-top:-10px!important;
                        font-size: 18px!important;
                        line-height: 26px!important;
                        color:rgb(68, 68, 68)!important;
                        letter-spacing: 0.5px!important;">{{nota[0].subtitulo}}</h2>
                        
                        <app-footer-card [data]="nota"></app-footer-card>
                        <hr style="margin-top: -10px;">
                        <br>
                        <!-- <p class="capital" >{{saltos(nota[0]?.nota)|sanetizer}}</p> para ver contenido html-->
                         <h3  [innerHTML]=saltos(nota[0]?.nota)|sanetizer ></h3> 
        
                       <div *ngIf="nota">
                        <app-articulo-relacionado [data]="nota"></app-articulo-relacionado>
                       </div>
                          
<div class="clasePrincipal"  >
  <div>
     <div class="primerIcon" >
         <mat-icon  class="mr-corre mr-2 ml-2  stilo">alarm</mat-icon>
          <div>
          <h3 class="subtituloResposive2  fecha">00/59/22</h3>
          </div>
     </div>
 </div>
 </div>
                    </div>
             </div>  
             <div class="col-3" style="background-color: rgba(147, 147, 147, 1)">
                <div style="margin-top:20px">
                    <img src="../../../assets/Captura1.PNG" width="100%" height="400px" alt="">
                    <img src="../../../assets/image 31.png" width="100%" height="330px" alt=""
                      style="margin-top:10px; object-fit: cover;">
                    <img src="../../../assets/image 26.png" width="100%" height="200px" alt=""
                      style="margin-top:10px; object-fit: cover;">
                </div>
         </div>  
    </div>


</div>


