<div >
    <img class="sombra imagen"src="{{data[0]?.imagen1}}" alt="../../../assets/logo.png" >
    <div class="tarjeta">        
    
    <!-- <h5 class="categoria" >{{data[1]?.categoria}}</h5> -->
    <div style="margin-left:20px; ">
      <br>
    <h5 class="categoria" >{{cut(data[0]?.categoria)}}</h5>
    <a routerLink="../articulo/{{data[0]?._id}}"  class="robotoBlack">
    <h1 class="titulo ">{{data[0]?.titulo}}</h1></a>
    <p class="parrafo truncar4" >{{data[0]?.subtitulo}} </p>
  </div>
 
</div>
</div>


<div  style="margin-top: 30px;">
  <img class="sombra imagen"src="{{data[1]?.imagen1}}" alt="../../../assets/logo.png" >
    <div class="tarjeta">        
    
    <!-- <h5 class="categoria" >{{data[1]?.categoria}}</h5> -->
    <div style="margin-left:20px; ">
      <br>
    <h5 class="categoria" >{{cut(data[1]?.categoria)}}</h5>
    <a routerLink="../articulo/{{data[1]?._id}}"  class="robotoBlack">
    <h1 class="titulo">{{data[1]?.titulo}}</h1></a>
    <p class="parrafo" >{{data[1]?.subtitulo}} </p>
</div>
 
</div>
</div>

<div  style="margin-top: 30px;">
  <img class="sombra imagen"src="{{data[2]?.imagen1}}" alt="../../assets/logo.png" >
    <div class="tarjeta">        
    
    <!-- <h5 class="categoria" >{{data[1]?.categoria}}</h5> -->
    <div style="margin-left:20px; ">
      <br>
    <h5 class="categoria" >{{cut(data[2]?.categoria)}}</h5>
    <a routerLink="../articulo/{{data[2]?._id}}"  class="robotoBlack">
    <h1 class="titulo">{{data[2]?.titulo}}</h1></a>
    <p class="parrafo" >{{data[2]?.subtitulo}} </p>
</div>
 
</div>
</div>


