

<div *ngIf="!this.crudService.cambioPantalla">
  

<app-editor [data]="this.crudService.unArticulo" [art]='this.crudService.unArticulo.nota' [id]='this.crudService.unArticulo._id'></app-editor>


</div>

<div *ngIf="this.crudService.cambioPantalla"  class="fondo"  >
  <br>
  <div *ngIf="loader2"  style="text-align: center; margin-top:70px; ">

    <div class="loadingio-spinner-dual-ring-jqg38uhhax"><div class="ldio-n970spnnnqh">
      <div></div><div><div></div></div>
      </div></div>
  
  <br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  
      
    <div *ngIf="!loader2" class="margenL margenR">
<!-- 
        <h2>Hola, Juan Ignacio</h2>
        <button class="btn btn-dark mb-4" >New</button> -->
        

<div style="margin-left:-15px; margin-top:15px; margin-bottom: 35px;">
<button class="btn btn-danger ml-3" (click)="buscador= !buscador">Buscar ▼</button>
<button class="btn btn-danger ml-3"  routerLink="../editorCabecera/62902088b69caf0a51c7e023" (click)="limpiar()">Crear publicación</button>
<button class="btn btn-danger ml-3" (click)="papulo=!papulo">Comentarios</button>

    <!-- <button routerLink="gestorPubli">Publicidad</button>       -->
  </div>
<div *ngIf="buscador">
<div   class="input-group mb-3 " style="width: 400px;margin-top:20px;">
  <input type="text" name="filterPost" [(ngModel)]="filterPost" class="form-control" placeholder="Buscar en CCAM" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div style="float:left " style="margin-left: 100px;">
   
  </div>
  

</div>

<h5 class="textoChico" >Buscando en un total de {{this.cantArt}} Artículos</h5>
<br>
</div>        
    <table *ngIf="papulo" class="table table-light"  >
        <thead class="thead-dark">
          <tr >
            <!-- <th scope="col">#</th> -->
            <th scope="col" style="width:3%;">ID</th>
            <th scope="col">Título</th>
      
            <th scope="col"><a style="cursor:pointer" (click)="filtro = !filtro">Creación</a></th>        
            <th scope="col"><a style="cursor:pointer" (click)="filtro = !filtro">Mod</a></th>

            <th scope="col" style="width:5%;"class="text-center">Posición</th>
            <th scope="col" style="width:5%;"class="text-center">Ficha</th>
            <th scope="col" style="width:5%;"class="text-center">Artículo</th>
            <th scope="col" style="width:5%;"class="text-center">Borrar</th>
            <th scope="col" style="width:5%;"class="text-center">Vistas</th>
            <th scope="col" style="width:5%;"class="text-center">Prev.</th>
            
            
 
          </tr>
        </thead>
        <tbody>
       

          <tr *ngFor="let articulo of articulos|buscar:filterPost |filtrarFechaMod:filtro  " [style.backgroundColor]="activo? 'white' : 'grey'">
            <!-- <th scope="row">1</th> -->
            
            <td (click)="copyToClipboard(articulo?._id)" > <span > <mat-icon class="mouseOver" style="color:gainsboro">file_copy</mat-icon></span></td>
            <td class="textoTableTitulo" > {{articulo?.titulo | truncate:'100'}}</td>
   
            <td> {{articulo?.fecha| date: 'dd/MM/yy'}}</td>
   
            <td  style="text-align: center;">{{articulo?.fechaMod| date: 'dd/MM/yy'}}</td> 
            <td style="text-align: center;">  
             <p style="margin-top:0px">{{articulo?.posicion}}</p> 
             
            </td>
            <td class="text-center">
            <a  (click)="editar()">
              <!-- data-toggle="modal" data-target="#exampleModal" (click)='editarArticulo(articulo)' (click)="this.crudService.cambioPantalla=true" -->
           <mat-icon style="cursor:pointer"  routerLink="../editorCabecera/{{articulo?._id}}" >edit</mat-icon> 
          </a></td>


            <td class="text-center">                        
              
              <a  (click)="id = articulo._id; this.loader2 = true" (click)='editarArticulo(articulo)'routerLink="../editorCuerpo/{{articulo?._id}}" > <mat-icon  style="color: green; cursor:pointer">article</mat-icon>
              </a> </td>
            
              <td class="text-center">                        
                <a data-toggle="modal" data-target="#exampleModalCenter" (click)="id = articulo._id">
                  <div *ngIf="loader">
                   <mat-icon style="cursor:pointer; color:red">delete</mat-icon>
                  </div>
                  <div *ngIf="!loader">
                    <img src="../../../assets/loader.gif" alt="" width="30px"> 
                  </div>

                  </a>
                  
                  <td class="text-center">{{articulo?.vistas}}</td>  
                  <td class="text-center"><a routerLink="../articulo/{{this.articulo?._id}}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-easel2-fill" viewBox="0 0 16 16">
                      <path d="M8.447.276a.5.5 0 0 0-.894 0L7.19 1H2.5A1.5 1.5 0 0 0 1 2.5V10h14V2.5A1.5 1.5 0 0 0 13.5 1H8.809L8.447.276Z"/>
                      <path fill-rule="evenodd" d="M.5 11a.5.5 0 0 0 0 1h2.86l-.845 3.379a.5.5 0 0 0 .97.242L3.89 14h8.22l.405 1.621a.5.5 0 0 0 .97-.242L12.64 12h2.86a.5.5 0 0 0 0-1H.5Zm3.64 2 .25-1h7.22l.25 1H4.14Z"/>
                    </svg>
                  </a></td>
          </tr>
          
        </tbody>
      </table>
      <table *ngIf="!papulo" class="table table-light"  >
        <thead class="thead-dark">
          <tr >
            <!-- <th scope="col">#</th> -->
            <th scope="col" style="width:3%;">ID</th>
            <th scope="col">Título</th>
      
            <th scope="col"><a style="cursor:pointer" (click)="filtro = !filtro">Creación</a></th>        
            <th scope="col"><a style="cursor:pointer" (click)="filtro = !filtro">Mod</a></th>

            <th scope="col" style="width:5%;"class="text-center">Posición</th>
            <th scope="col" style="width:5%;"class="text-center">Ficha</th>
            <th scope="col" style="width:5%;"class="text-center">Artículo</th>
            <th scope="col" style="width:5%;"class="text-center">Borrar</th>
            <th scope="col" style="width:5%;"class="text-center">Vistas</th>
            <th scope="col" style="width:5%;"class="text-center">Prev.</th>
            
            
 
          </tr>
        </thead>
        <tbody>
    

          <tr *ngFor="let articulo of articulos|buscar:filterPost  |comentarios:'Nuevo'" [style.backgroundColor]="activo? 'white' : 'grey'">
            <!-- <th scope="row">1</th> -->
            
            <td (click)="copyToClipboard(articulo?._id)" > <span > <mat-icon class="mouseOver" style="color:gainsboro">file_copy</mat-icon></span></td>
            <td class="textoTableTitulo" > {{articulo?.titulo | truncate:'100'}}</td>
   
            <td> {{articulo?.fecha| date: 'dd/MM/yy'}}</td>
   
            <td  style="text-align: center;">{{articulo?.fechaMod| date: 'dd/MM/yy'}}</td> 
            <td style="text-align: center;">  
             <p style="margin-top:0px">{{articulo?.posicion}}</p> 
             
            </td>
            <td class="text-center">
            <a  (click)="editar()">
              <!-- data-toggle="modal" data-target="#exampleModal" (click)='editarArticulo(articulo)' (click)="this.crudService.cambioPantalla=true" -->
           <mat-icon style="cursor:pointer"  routerLink="../editorCabecera/{{articulo?._id}}" >edit</mat-icon> 
          </a></td>


            <td class="text-center">                        
              <a  (click)="id = articulo._id" (click)='editarArticulo(articulo)'(click)="this.crudService.cambioPantalla = false" > <mat-icon  style="color: green; cursor:pointer">article</mat-icon>
              </a> </td>
            
              <td class="text-center">                        
                <a data-toggle="modal" data-target="#exampleModalCenter" (click)="id = articulo._id">
                  <div *ngIf="loader">
                   <mat-icon style="cursor:pointer; color:red">delete</mat-icon>
                  </div>
                  <div *ngIf="!loader">
                    <img src="../../../assets/loader.gif" alt="" width="30px"> 
                  </div>

                  </a>
                  
                  <td class="text-center">{{articulo?.vistas}}</td>  
                  <td class="text-center"><a routerLink="../articulo/{{this.articulo?._id}}" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-easel2-fill" viewBox="0 0 16 16">
                      <path d="M8.447.276a.5.5 0 0 0-.894 0L7.19 1H2.5A1.5 1.5 0 0 0 1 2.5V10h14V2.5A1.5 1.5 0 0 0 13.5 1H8.809L8.447.276Z"/>
                      <path fill-rule="evenodd" d="M.5 11a.5.5 0 0 0 0 1h2.86l-.845 3.379a.5.5 0 0 0 .97.242L3.89 14h8.22l.405 1.621a.5.5 0 0 0 .97-.242L12.64 12h2.86a.5.5 0 0 0 0-1H.5Zm3.64 2 .25-1h7.22l.25 1H4.14Z"/>
                    </svg>
                  </a></td>
                  
              
          </tr>
          
        </tbody>
      </table>
    
    </div>
     
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>


</div>




 <div *ngIf="!password"> 
  <div class="margenL" style="margin-top:20px; text-align: center;">

  <h4 style="text-align:left">USUARIO</h4>
<input  [(ngModel)]="this.usuario" class="form-control"  type="text" width="400px" style="margin-top:-15px; width: 300px;">
<h4 style="text-align:left; margin-top: 10px" name="password" [(ngModel)]="this.password1" >Contraseña</h4>
<input type="password" class="form-control"   style="margin-top:-15px; width: 300px;" >
<div style="text-align:left">
<button style="text-align:left" (click)="checkPassword(usuario, password1)" class="btn btn-dark mt-4">Ingresar</button>
</div>
</div>
</div> 


<div class="modal fade bd-example-modal-lg " style=" background-color: rgba(95, 158, 160, 0.253);"  id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog modal-lg"  role="document" >

    <div class="modal-content ">
      <div class="modal-header" style="background-color: rgba(95, 158, 160, 0.253); " >
       
        <h5 class="texto mt-1" id="exampleModalLabel">PUBLICACIÓN - FICHA</h5>
        <button style="outline: none;" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="cambioPantalla" class="modal-body" >
          
<div class="row mt-1">
    <div class="col-6">
        <h5 class="textoInput">Categoría</h5>
      
        <select  [(ngModel)]="this.categoria" class="form-control form-control-sm" style="width: 100%; height: 38px;">
          <option>· Montañismo · Escalada en Roca</option>
          <option>· Montañismo · Escalada en Hielo</option>
          <option>· Montañismo · Ascension</option>
          <option>· Montañismo · Senderismo</option>
          <option>· Montañismo · Trekking</option>
          <option>· Montañismo · Espeleología</option>
          <option>· Historia · Expediciones</option>
          <option>· Historia · Biografías</option>
          <option>· Historia · Hechos</option>

          <option>· Antropología</option>
          <option>· Medio Ambiente</option>
          <option>· Medio Ambiente · Flora</option>
          <option>· Medio Ambiente · Fauna</option> 
          <option>· Medio Ambiente · Plantas Medicinales</option> 
          <option>· Medio Ambiente · Impacto Ambiental</option> 

          <option>· Educacion · Seguridad</option>
          <option>· Educacion · Entrenamiento</option>
          <option>· Educacion · Medicina Natural</option>

          <option>· Arte · Literatura</option>
          <option>· Arte · Fotografía</option>
          <option>· Arte · Cine</option>
          <option>· Arte · Música</option>
          <option>· Museo</option>
          <option>· Instituciones</option>
          

        </select>
    </div>

    <div class="col-6">
      <div class="form-group">
        <h5 class="textoInput">#Tags</h5>
        <input [(ngModel)]="this.hash" class="form-control" id="message-text" style="width:100%">
      </div>
    </div>
 

</div>
        
        
          <div class="form-group mt-3">
            <h5 class="textoInput">Título</h5>
            <textarea [(ngModel)]="this.titulo" class="form-control" id="titulo"></textarea>
                 <div  class="textoInputBajo" >
               <!-- {{this.titulo.length}} de 200 Máx. -->
            </div> 
          </div>

          <div class="form-group">
            <h5 class="textoInput">Subtítulo</h5>
            <textarea [(ngModel)]="this.subtitulo" rows="5" class="form-control" id="message-text"></textarea>
            <div  class="textoInputBajo" >
              <!-- {{this.subtitulo.length}} de 200 Máx. -->
            </div> 
          </div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <h5 class="textoInput">Autor</h5>
      <input [(ngModel)]="this.edicionFotografia" class="form-control" id="message-text" >
    </div>
</div>

  <div class="col-6">
          <div class="form-group">
            <h5 class="textoInput">Fotografía</h5>
            <input [(ngModel)]="this.fotografia"class="form-control" id="message-text">
         </div>
  </div>
  <div class="col-6">
          <div class="form-group">
            <h5 class="textoInput">Edición de fotografía</h5>
            <input [(ngModel)]="this.edicionFotografia" class="form-control" id="message-text" >
          </div>
  </div>

 
  <div class="col-6">


    <div style="margin-top:10px">
      <div *ngIf="ocultar2">
        <h6 style ="margin-bottom:-2px">IMAGEN DE PORTADA  400x560</h6>
        <input type="file"  style="width: 80%; overflow: none"  (change)="onFileChange($event); ">
        <button class="btn-sm btn btn-dark btn-upload ml-2" (click)="this.loading2=true" (click)="onUpload()">Subir</button>
        <br><br><br>
      </div>
        <div *ngIf="this.loading2">
               <div>
                  <img src="../../../assets/loading4.gif"  width="50px" alt="">
              </div>

       </div>
       
       <div *ngIf="this.loading3">
        <h6 style="color:green">✓ Imagen Portada Desktop subida!<span style="color:blue" (click)="fnOcultar()"> Deshacer</span></h6>

      </div>
     </div>

     


</div>    

<div class="col-6"style="margin-top:-20px">
  <div class="form-group" >
   <h5 class="textoInput">Posición de Publicación </h5>
   <select  [(ngModel)]="this.posicion" class="form-control form-control-sm" style="width: 2p0px; height: 38px;">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    </select>

      
 </div>
</div>
    
        <h4></h4>
  <br><br><br>
    </div>
  
  


      <div class="modal-footer" style="background-color: rgba(255, 255, 255, 0.253);">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger"  (click)="agregarPublicacion()"   data-dismiss="modal" >Guardar</button>
      </div>
 
      
    </div>
    
  </div>


</div>
</div> 




<!-- final de formulario -->







<div class="modal fade modal-open " id="exampleModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
style="overscroll-behavior:inherit"
>
  <div class="modal-dialog modal-dialog-centered modal-open " role="document">
    <div class="modal-content modal-open ">
      <div class="modal-header ">
        <h5 class="texto mt-1" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h4>Esta seguro que desea eliminar el artículo?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="eliminarArticulo(id)" (click)="activo = !activo" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>



  



