<div *ngIf="password">

<div *ngIf="!this.crudService.cambioPantalla">
  

<app-editor [art]='this.crudService.unArticulo.nota' [id]='this.crudService.unArticulo._id'></app-editor>


</div>

<div *ngIf="this.crudService.cambioPantalla" class="fondo"  >
  <br>
  <div *ngIf="loader2"  style="text-align: center; margin-top:70px; ">

    <div class="loadingio-spinner-dual-ring-jqg38uhhax"><div class="ldio-n970spnnnqh">
      <div></div><div><div></div></div>
      </div></div>
  
  <br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  
      
    <div *ngIf="!loader2" class="margenL margenR">
<!-- 
        <h2>Hola, Juan Ignacio</h2>
        <button class="btn btn-dark mb-4" >New</button> -->
        
      
<div   class="input-group mb-3 " style="width: 400px;margin-top:20px;">
    <input type="text" name="filterPost" [(ngModel)]="filterPost" class="form-control" placeholder="Buscar en CCAM" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div style="float:left " style="margin-left: 100px;">
     
    </div>
    

  </div>
  
<h5 class="textoChico" >Buscando en un total de {{this.cantArt}} Artículos</h5>
<br>
<div style="margin-left:-15px; margin-top:-15px; margin-bottom: 20px;">

<button class="btn btn-danger ml-3" data-toggle="modal" data-target="#exampleModal" (click)="limpiar()" (click)="this.crudService.cambioPantalla=true" >Crear publicación</button>
    <button class="btn btn-danger ml-3" data-toggle="modal" data-target="#exampleModal" (click)="limpiar()" (click)="this.crudService.cambioPantalla=true" >Publicidad</button>      
  </div>
    <table  class="table table-primary"  >
        <thead class="thead-dark">
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col" style="width:7%;">Categoria</th>
            <th scope="col">Titulo</th>
            <th scope="col">Creación</th>
            <th scope="col">Portada</th>
            <th scope="col" style="width:5%;"class="text-center">Ficha</th>
            <th scope="col" style="width:5%;"class="text-center">Articulo</th>
            <th scope="col" style="width:5%;"class="text-center">Borrar</th>
            <th scope="col" style="width:5%;"class="text-center">Vistas</th>
            

          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let articulo of articulos|buscar:filterPost " style="transition: 0.2s all  ease-out; " [style.backgroundColor]="activo? 'white' : 'grey'">
            <!-- <th scope="row">1</th> -->
            
            <td > <span class="badge badge-danger">{{articulo.categoria}}</span></td>
            <td class="textoTableTitulo" > {{articulo.titulo | truncate:'100'}}</td>
            <td> {{articulo.fechaCreate | date: 'dd/MM/yy'}}</td>
            <td>daad</td> 
            <td class="text-center">
            <a data-toggle="modal" data-target="#exampleModal" (click)='editarArticulo(articulo)' (click)="this.crudService.cambioPantalla=true">
           <mat-icon style="cursor:pointer">edit</mat-icon> 
          </a></td>
            <td class="text-center">                        
              <a  (click)="id = articulo._id" (click)='editarArticulo(articulo)'(click)="this.crudService.cambioPantalla = false" > <mat-icon  style="color: green; cursor:pointer">article</mat-icon>
              </a> </td>
            
              <td class="text-center">                        
                <a data-toggle="modal" data-target="#exampleModalCenter" (click)="id = articulo._id">
                  <div *ngIf="loader">
                   <mat-icon style="cursor:pointer; color:red">delete</mat-icon>
                  </div>
                  <div *ngIf="!loader">
                    <img src="../../../assets/loader.gif" alt="" width="30px"> 
                  </div>

                  </a>
                  
                  <td class="text-center">{{articulo.vistas}}</td>  
              
          </tr>
          
        </tbody>
      </table>
    </div>
     
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>


</div>

</div> <!-- finde pasword -->


<div *ngIf="!password"> <!-- sipassword no funciona -->
  <div class="margenL" style="margin-top:20px">
  <h4>ingrese usuario</h4>
<input type="text">
<h4 name="password" [(ngModel)]="this.password1" >Contraseña</h4>
<input type="password">
<button (click)="checkPassword('admin')">Ingresar</button>
</div>
</div>

<div class="modal fade bd-example-modal-lg " style="background-color: rgba(95, 158, 160, 0.253);"  id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog modal-lg"  role="document">

    <div class="modal-content ">
      <div class="modal-header" style="background-color: rgba(95, 158, 160, 0.253); " >
       
        <h5 class="texto mt-1" id="exampleModalLabel">PUBLICACIÓN - FICHA</h5>
        <button style="outline: none;" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="cambioPantalla" class="modal-body" >
          
<div class="row mt-1">
    <div class="col-6">
        <h5 class="textoInput">Categoría</h5>
      
        <select  [(ngModel)]="this.categoria" class="form-control form-control-sm" style="width: 100%; height: 38px;">
          <option>· Montañismo · Escalada en Roca</option>
          <option>· Montañismo · Escalada en Hielo</option>
          <option>· Montañismo · Treaking</option>
          <option>· Montañismo · Senderismo</option>
          <option>· Montañismo · Treaking</option>
          <option>· Montañismo · Espeleología</option>
          <option>· Historia · Expediciones</option>
          <option>· Historia · Biografías</option>
          <option>· Historia · Hechos</option>

          <option>· Antropología</option>
          <option>· Medio Ambiente</option>
          <option>· Medio Ambiente · Flora</option>
          <option>· Medio Ambiente · Fauna</option> 
          <option>· Medio Ambiente · Plantas Medicinales</option> 
          <option>· Medio Ambiente · Impacto Ambiental</option> 

          <option>· Educacion · Seguridad</option>
          <option>· Educacion · Entrenamiento</option>
          <option>· Educacion · Medicina Natural</option>

          <option>· Arte · Literatura</option>
          <option>· Arte · Fotografía</option>
          <option>· Arte · Cine</option>
          <option>· Arte · Música</option>
          <option>· Museo</option>
          <option>· Instituciones</option>
          

        </select>
    </div>

    <div class="col-6">
      <div class="form-group">
        <h5 class="textoInput">#Tags</h5>
        <input [(ngModel)]="this.hash" class="form-control" id="message-text" style="width:100%">
      </div>
    </div>
<!-- 
    <div class="col-6">
      <div class="form-group">
        <h5 class="textoInput">Autor</h5>
        <input [(ngModel)]="this.autor" class="form-control" id="message-text" style="width:100%">
      </div>
    </div> -->

</div>
        
        
          <div class="form-group mt-3">
            <h5 class="textoInput">Título</h5>
            <textarea [(ngModel)]="this.titulo" class="form-control" id="titulo"></textarea>
                 <div  class="textoInputBajo" >
               {{this.titulo.length}} de 200 Máx.
            </div> 
          </div>

          <div class="form-group">
            <h5 class="textoInput">Subtítulo</h5>
            <textarea [(ngModel)]="this.subtitulo" rows="5" class="form-control" id="message-text"></textarea>
            <div  class="textoInputBajo" >
              {{this.subtitulo.length}} de 200 Máx.
            </div> 
          </div>

<div class="row">
  <div class="col-6">
    <div class="form-group">
      <h5 class="textoInput">Autor</h5>
      <input [(ngModel)]="this.edicionFotografia" class="form-control" id="message-text" >
    </div>
</div>

  <div class="col-6">
          <div class="form-group">
            <h5 class="textoInput">Fotografía</h5>
            <input [(ngModel)]="this.fotografia"class="form-control" id="message-text">
         </div>
  </div>
  <div class="col-6">
          <div class="form-group">
            <h5 class="textoInput">Edición de fotografía</h5>
            <input [(ngModel)]="this.edicionFotografia" class="form-control" id="message-text" >
          </div>
  </div>

 
  <div class="col-6">


    <div style="margin-top:10px">
      <div *ngIf="ocultar2">
        <h6 style ="margin-bottom:-2px">IMAGEN DE PORTADA  400x560</h6>
        <input type="file"  style="width: 80%; overflow: none"  (change)="onFileChange($event); ">
        <button class="btn-sm btn btn-dark btn-upload ml-2" (click)="this.loading2=true" (click)="onUpload()">Subir</button>
        <br><br><br>
      </div>
        <div *ngIf="this.loading2">
               <div>
                  <img src="../../../assets/loading4.gif"  width="50px" alt="">
              </div>

       </div>
       
       <div *ngIf="this.loading3">
        <h6 style="color:green">✓ Imagen Portada Desktop subida!<span style="color:blue" (click)="fnOcultar()"> Deshacer</span></h6>

      </div>
     </div>





</div>               
        <h4></h4>
  <br><br><br>
    </div>
  
  


      <div class="modal-footer" style="background-color: rgba(255, 255, 255, 0.253);">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger"  (click)="agregarPublicacion()"   data-dismiss="modal" >Guardar</button>
      </div>
  <!-- Modal -->

      
    </div>
    
  </div>


</div>
</div>



<div class="modal fade" id="exampleModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="texto mt-1" id="exampleModalLabel">Eliminar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h4>Esta seguro que desea eliminar el articulo?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="eliminarArticulo(id)" (click)="activo = !activo" data-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>



  



