<div class="margenL margenR" >
    <div class="row" style="margin-top:20px; background-color: #ebebeb;">
        <div class="col-6">
    <h1>Centro Cultural Argentino de Montaña</h1>
    <p>
        Somos una Asociación sin fines de lucro Argentina (ONG), que desde el 5 de julio del 2000 venimos promoviendo e integrando el desarrollo cultural, social y deportivo de las comunidades de montaña.

Al referirnos a “Cultura de Montaña”, estamos hablando de: medio ambiente, arqueología, arte, historia, filosofía, economía, deporte, turismo, antropología, medicina, jurisprudencia y aquello que vincula al hombre con nuestras amadas montañas, integrando las diferentes regiones de nuestro país y así enriquecernos y conocernos mejor unos a otros.

En el año 2002 creamos el Museo de Historia del Montañismo y el Museo Itinerante, con más de 800 objetos en su colección, con un trabajo de curación, restauración y catalogación. Además de contar con uno de los archivos de montaña más importantes del país. Desde el año 2002 al 2008 con exposición permanente del Museo en la Ciudad Autónoma de Buenos Aires.

En la Inauguración del Museo de Arqueología de Alta Montaña (MAAM) de Salta, realizamos desde el 2004 al 2006, una muestra con material de nuestro Museo Itinerante, usado por la Primera Expedición Arqueológica Argentina a los Santuarios Indígenas en Altas Cumbres de la Puna de Atacama organizada por Mathias Rebitsch, en la región noroeste del país.

Fuimos elegidos por la Dirección General de Museos de la Ciudad Autónoma de Buenos Aires para formar parte del circuito denominado "La Noche de Los Museos" en el año 2008.

En Junio del 2008 comenzamos a publicar la Revista Digital de Montaña, con la cual, hoy llegamos a más de 200.000 personas de Argentina, Chile, Brasil, México, Colombia, Perú, España y muchos otros países.

Creamos en el 2009  el Departamento de Noticias de Montaña, con el propósito de informar, compartir e integrar nuestra Cultura de Montaña, que cada 72 hs. publicamos una nota, creando de esta manera en nuestro Portal, un fondo de memoria, de lo que ocurre y ocurrió en el montañismo de nuestro país y el mundo.
    </p>
<h1>El Centro Cultural Argentino de Montaña los invita a sumarse a:</h1>   
<h2>Crear vínculos entre las distintas generaciones de montañistas</h2>
        </div>
        <div class="col-6">
            
        
    
        </div>
    
    
    
    </div>
    </div>